# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.env

# Django
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
db.sqlite3-journal

# Environments
.env
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# IDEs
.vscode/
.idea/

# Migrations
*/migrations/*

# Static and media files
staticfiles/
media/

# Coverage reports
htmlcov/
.coverage
.tox/
.nox/
.pytest_cache/
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/
dist/
build/
docs/_build/
